.send-message-form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  position: relative; 

  bottom: 5%;
}

.input-container {
  display: flex;
  align-items: center; /* Ensures items are vertically centered */
  
}

.message-textarea {
  background-color: lightgrey;
  color: black;
  font-size: 14px;
  flex: 1; /* Makes the textarea take available space */
  padding: 0.5rem;
  margin-right: 1rem; /* Adds space between textarea and button */
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: vertical;


}

.send-button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius:50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.send-button:hover {
  transform: scale(1.1); /* Scales button on hover */

}


.send-icon{
  color: white;
}

.send-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-top: 0.5rem;
  font-size: 0.9rem; /* Optional: Adjusts font size for better readability */
}



.dark-theme .message-textarea {
  background-color: #555555;
  color: #ffffff;
}

/* For screens 1024px and above */
@media (min-width: 1024px) {
  .chat-area {
    height: 80vh; /* Adjust height as needed */
    margin-bottom: 40px;
  }
  

}

/* For screens between 768px and 1023px */
@media (max-width: 1023px) {
  .chat-area {
    height: 70vh; /* Adjust height as needed */
  }
}

/* For screens between 480px and 767px */
@media (max-width: 767px) {
  .chat-area {
    height: 60vh; /* Adjust height as needed */
  }
}

/* For screens below 480px */
@media (max-width: 479px) {
  .send-message-form{
    bottom: 11%;
  }
  
  .chat-area {
    height: 50vh; /* Adjust height as needed */
  }

  .chat-area__header {
    font-size: 1.2rem; /* Decrease header font size for smaller screens */
    bottom: 20px; /* Adjust header position */
  }

  .chat-area__message-container {
    padding: 5px; /* Adjust padding */
  }

  .chat-area__message--sent,
  .chat-area__message--received {
    padding: 5px; /* Adjust padding */
    max-width: 80%; /* Adjust message width */
  }
}
