.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .light-theme {
    background-color: #ffffff;
    color: #000000;
  }
  
  .dark-theme {
    background-color: #000000;
    color: #ffffff;
  }
  